<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/public/css/footer.css" rel="stylesheet">
</head>
<body>
    <div class="footer">
        <footer>
        <p>&copy; 2025 Reese Redman and Jason Fermani. All rights reserved.</p>
        
    </footer>
    </div>
</body>
</html>