body{
    height:auto;
    width:100vw;
    margin:0;
    overflow-x:hidden;
    background-color:#131b29;
}

.info{
    margin:auto;
    margin-right:10%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
    height:1000px;
}
.bod{
    background-color: #131b29;
}

