#navbar {
    background-color: #1d3752;
}

img {
    border-image-width: 10%;
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin-right:10px;
}
